<div class="mini-sidebar">
    <ul>
        <li>
            <i class="fa fa-home"></i>
            <p>Dashboard</p>
        </li>
        <li class="active-mini-sidebar">
            <i class="fa fa-truck"></i>
            <p>Cars</p>
        </li>
    </ul>
</div>