<div class="top-navbar">
    <div class="left-side">
        <div>
            This is logo
        </div>
        <div>
            <button id="collapspe-big-sidebar" class="btn btn-white"><i class="fa fa-bars"></i></button>
        </div>
    </div>
    <div class="right-side">
        <div>
            This is searching
        </div>
        <div>
            This is user account
        </div>
    </div>
</div>